<div id="actions">
	<%= content_tag( 'h2', 'Actions' ) %>
	<% unless actions.actions.empty? -%>
		<table>
			<thead>
				<tr>
					<%= content_tag( 'td', 'Party' ) %>
					<%= content_tag( 'td', 'Action' ) %>
					<%= content_tag( 'td', 'Taken on' ) %>
					<%= content_tag( 'td', 'Effective on' ) %>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'action/action_from_treaty', :collection => actions.actions %>
			</tbody>
		</table>
	<% else -%>
		There are no actions listed in FCDO dataset.
	<% end -%>
</div>