<div id="details">
	<h2>Details</h2>
	
	<dl>
	
				<dt>Treaty type</dt>
				
				<dd>
					<% if details.treaty_type -%>
						<%= link_to( details.treaty_type.label, treaty_type_show_url( :treaty_type => details.treaty_type ) ) %>
					<% else -%>
						&mdash;
					<% end -%>
				</dd>
 
				<dt>Subject</dt>
				<dd>
					<% if details.subject -%>
						<%= link_to( details.subject.subject, subject_show_url( :subject => details.subject ) ) %>
					<% else -%>
						&mdash;
					<% end -%>
				</dd>

				<dt>Signed at</dt>
				<dd>
					<% unless details.locations.empty? -%>
						<ul>
							<%= render :partial => 'location/location', :collection => details.locations %>
						</ul>
					<% else -%>
						&mdash;
					<% end -%>
				</dd>
 
				<dt>Signed on</dt>
				<dd>
					<% if details.signed_on -%>
						<%= details.signed_on %>
					<% else -%>
						&mdash;
					<% end -%>
				</dd>
 
				<dt>In force on</dt>
				<dd>
					<% if details.in_force_on -%>
						<%= details.in_force_on %>
					<% else -%>
						&mdash;
					<% end -%>
				</dd>
</div>