<%= content_tag( 'h1', @treaty.title ) %>

<%= content_tag( 'p', @treaty.description ) if @treaty.description %>

<table>
	<tbody>
		<tr>
			<%= content_tag( 'td', 'Treaty type:' ) %>
			<td>
				<% if @treaty.treaty_type -%>
					<%= @treaty.treaty_type.label %>
				<% else -%>
					Treaty type - bilateral or multilateral - is not present in FCDO dataset.
				<% end -%>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Subject:' ) %>
			<td>
				<% if @treaty.subject -%>
					<%= link_to( @treaty.subject.subject, subject_show_url( :subject => @treaty.subject ) ) %>
				<% else -%>
					The subject of the treaty is not present in FCDO dataset.
				<% end -%>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Signed at:' ) %>
			<td>
				<% if @treaty.signed_in -%>
					<%= @treaty.signed_in %>
				<% else -%>
					The signing location is not present in FCDO dataset.
				<% end -%>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Signed on:' ) %>
			<td>
				<% if @treaty.signed_on -%>
					<%= @treaty.signed_on %>
				<% else -%>
					The date of signing is not present in FCDO dataset.
				<% end -%>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'td', 'In force on:' ) %>
			<td>
				<% if @treaty.in_force_on -%>
					<%= @treaty.in_force_on %>
				<% else -%>
					The in force date is not present in FCDO dataset.
				<% end -%>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'td', 'References:' ) %>
			<td>
				<% if @treaty.reference_values -%>
					<%= @treaty.reference_values %>
				<% else -%>
					There are no references listed in FCDO dataset.
				<% end -%>
			</td>
		</tr>
	</tbody>
</table>


<%= content_tag( 'h2', 'Parties' ) %>
<% unless @treaty.parties.empty? -%>
	<ol>
		<%= render :partial => 'party/party', :collection => @treaty.parties %>
	</ol>
<% else -%>
	There are no parties listed in FCDO dataset.
<% end -%>









<!-- %= content_tag( 'p', "On the FCDO treaty website: #{link_to( 'Metadata', "https://treaties.fcdo.gov.uk/awweb/awarchive?type=metadata&item=#{@agreement.fcdo_id}" )} &bullet; #{link_to( 'File', "https://treaties.fcdo.gov.uk/awweb/awarchive?type=file&item=#{@agreement.fcdo_id}" )}".html_safe ) % -->



<table>
	<tbody>
		
	</tbody>
</table>