<%= content_tag( 'h1', @agreement.title ) %>

<%= content_tag( 'p', @agreement.description ) if @agreement.description %>

<%= content_tag( 'p', "Subject: #{link_to( @agreement.subject.subject, subject_show_url( :subject => @agreement.subject ) )}".html_safe ) if @agreement.subject %>

<% if @agreement.agreement_type -%>
	<%= content_tag( 'p', "Agreement type: #{@agreement.agreement_type.label}" ) %>
<% else -%>
	<%= content_tag( 'p', 'Agreement type - bilateral or multilateral - is not present in FCDO dataset.' )%>
<% end -%>

<%= content_tag( 'h2', 'Records' ) %>
<ol>
	<%= render :partial => 'record/record', :collection => @agreement.records %>
</ol>




<!-- %= content_tag( 'p', "On the FCDO treaty website: #{link_to( 'Metadata', "https://treaties.fcdo.gov.uk/awweb/awarchive?type=metadata&item=#{@agreement.fcdo_id}" )} &bullet; #{link_to( 'File', "https://treaties.fcdo.gov.uk/awweb/awarchive?type=file&item=#{@agreement.fcdo_id}" )}".html_safe ) % -->



<table>
	<tbody>
		<tr>
			<%= content_tag( 'th', 'Signed in:' ) %>
			<%= content_tag( 'td', @agreement.signed_event_at ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Signed on:' ) %>
			<%= content_tag( 'td', @agreement.signed_event_on ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Definitive EIF date:' ) %>
			<%= content_tag( 'td', @agreement.definative_eif_event_date ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'References:' ) %>
			<%= content_tag( 'td', @agreement.reference_values ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Countries:' ) %>
			<%= content_tag( 'td', @agreement.country_name ) %>
		</tr>
	</tbody>
</table>