<%= content_tag( 'h1', @party.name ) %>

<%= content_tag( 'h1', 'Treaties' ) %>
<table>
	<%= render :partial => 'treaty/table_header' %>
	<tbody>
		<%= render :partial => 'treaty/treaty', :collection => @party.treaties %>
	</tbody>
</table>

<!-- %= content_tag( 'h1', 'Actions' ) %>
<table>
	<thead>
		<tr>
			<%= content_tag( 'th', 'Agreement' ) %>
			<%= content_tag( 'th', 'Action type' ) %>
			<%= content_tag( 'th', 'Action on' ) %>
			<%= content_tag( 'th', 'Effective on' ) %>
		</tr>
	</thead>
	<tbody>
		<!-- %= render :partial => 'action/action_from_party', :collection => @party.actions % -->
	</tbody>
</table -->
		