<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>FCDO Treaties - <%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    
    @media only screen and (max-width: 42rem) {

  div#details,
  div#document,
  div#parties,
  div#actions,
  div#citations {
    border-bottom: 0.5rem solid #efefef;
    background-color: #ffffff;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 41rem) {

  div#details,
  div#document,
  div#parties,
  div#actions,
  div#citations {
    padding: 0.5rem;
    background-color: #efefef;
    margin-bottom: 0.5rem;
  }

}

body {
  max-width: 42rem;
  padding: 0.5rem;
  margin: 1rem auto;
  font-family: sans-serif;
}

main :not(h1, h2) {
  line-height: 1.4;
}

h1,
h2 {
  font-weight: normal;
}

main h2 {margin-top:0;}

iframe {
  height: 50em;
  width: 100%;
}

img#schema {
  width: 100%;
}

th,
td {
  padding: 0.5rem;
}
	nav a {
	line-height:1.4;
	}
	
	
	main {margin:2rem 0;}
    </style>
</head>

  <body>
  
  <header>
  <nav>
	  <%= link_to( 'Treaties', treaty_list_url ) %>
	  -
	  <%= link_to( 'Treaty types', treaty_type_list_url ) %>
	  -
	  <%= link_to( 'Parties', party_list_url ) %>
	  -
	  <%= link_to( 'Locations', location_list_url ) %>
	  -
	  <%= link_to( 'Subjects', subject_list_url ) %>
	  -
	  <%= link_to( 'Action types', action_type_list_url ) %>

  </nav>
  </header>
  <main>
    <%= yield %>
    </main>
    <footer>
		<%= link_to( 'Colophon',  colophon_list_url ) %>
		-
		<%= link_to( 'Privacy policy',  privacy_list_url ) %>
    </footer>
  </body>
</html>